* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Comic Sans MS', sans-serif;
}
.disable {
  display: none;
}
.enable {
  display: block;
}

html {
  display: block;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  /*background-image: url('skillscene.png');
  background-size : cover;
  background-repeat : no-repeat;
  opacity: 0.4;*/
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.startSceneHud, .standingSceneHud{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.startSceneHud{
  background-image: url('grid.png');
  background-repeat: repeat;
}
.startSceneHudCenter, .standingSceneHudCenter {
  position: absolute;
  top : 42%;
  left : 50%;
  width: 1300px;
  height: 700px;
  transform: translate(-50%, -50%);
}
.startSceneHudTitle, .standingSceneHudTitle{
  position : absolute;
  margin: 0 auto;
  width: 100%;
}
.startSceneHudTitle h1, .standingSceneHudTitle h1{
  margin: 0;
  text-align: center;
  font-size: 90px;
}
.startSceneHudCenterLeft, .standingSceneHudCenterLeft{
  position : absolute;
  top : 200px;
  left : 10px;
  width : 350px;
  height : 300px;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
  pointer-events: none;
}
.startSceneHudCenterCenter, .standingSceneHudCenterCenter{
  position : absolute;
  top : 200px;
  left : 50%;
  width : 540px;
  height : 450px;
  transform: translateX(-50%);
  text-align: center;
  z-index: 11;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
}
.startSceneHudCenterCenter input[type="text"], .standingSceneHudCenterCenter input[type="text"]{
  position : absolute;
  top : 35px;
  height: 60px;
  padding: 10px;
  left : 50%;
  transform: translateX(-50%);
  width: 300px;
}
.startSceneHudCenterCenterCharSelect, .standingSceneHudCenterCenterCharSelect {
  position: absolute;
  top : 120px;
  width: 100%;
  height: 230px;
}
.startSceneHudCenterCenterCharSelect > .select img, .standingSceneHudCenterCenterCharSelect > .select img {
  height: 110px;
  width: 110px;
}
.startSceneHudCenterCenterCharSelect > div, .standingSceneHudCenterCenterCharSelect > div {
  cursor: pointer;
  width: 100px;
  display: inline-block;
  margin: 0px 20px;
}
.startSceneHudCenterCenterCharSelect > div img, .standingSceneHudCenterCenterCharSelect > div img {
  width: 100px;
  height: 100px;
}
.startSceneHudCenterCenterCharSelect > div > div, .standingSceneHudCenterCenterCharSelect > div > div {
  width: 100px;
  height: 100px;
}
.startSceneHudCenterCenter button, .standingSceneHudCenterCenter button {
  position : absolute;;
  bottom: 35px;
  height: 60px;
  padding: 10px;
  left : 50%;
  transform: translateX(-50%);
  width: 300px;
  cursor: pointer;
}
.startSceneHudCenterRight, .standingSceneHudCenterRight{
  position : absolute;
  top : 200px;
  right: 10px;
  width : 350px;
  height : 450px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 10;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
}
.startSceneHudCenterRightServerSelect, .standingSceneHudCenterRightServerSelect{
  margin: 10px 20px;
}
.startSceneHudCenterRightServerSelect select, .standingSceneHudCenterRightServerSelect select{
  position: absolute;;
  top: 60px;
  height: 60px;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  font-size: 20px;
}
.startSceneHudCenterRightHowToPlay, .standingSceneHudCenterRightHowToPlay{
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  bottom: 10px;
  height: 260px;
  width: 300px;
  margin: 20px;
}
.startSceneHudCenterRightHowToPlay p, .standingSceneHudCenterRightHowToPlay p {
  margin: 2px;
}
.startSceneHudBottom, .standingSceneHudBottom{
  position: absolute;
  bottom: 20px;
  height: 100px;
  width: 100%;
}
.startSceneHudBottomLeft, .standingSceneHudBottomLeft{
  position : absolute;
  left : 30px;
  width : 350px;
  height : 100px;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
  pointer-events: none;
}
.startSceneHudBottomRight, .standingSceneHudBottomRight{
  position : absolute;
  right : 30px;
  width : 350px;
  height : 100px;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
  pointer-events: none;
}
.gameSceneHudTopCenter{
  position: absolute;
  top: 20px;
  left: 50%;
  width : 350px;
  height: 100px;

  transform: translateX(-50%);
  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
  z-index: 10;
}
.gameSceneHudTopRightCenter{
  position: absolute;
  top:20px;
  right: 25%;
  width: 200px;
  height: 50px;
  z-index: 10;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
  pointer-events: none;
}
.gameSceneHudTopRightCenter div{
  display: inline-block;
  width: 100px;
}
.gameSceneHudTopRight{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 300px;
  height: 350px;
  z-index: 10;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
  pointer-events: none;
}
.gameSceneHudBottomLeft{
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 200px;
  height: 200px;
  z-index: 10;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
  pointer-events: none;
}
.gameSceneHudBottomLeft div{
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.gameSceneHudBottomLeft div[type="user"]{
  background: red;
}
.gameSceneHudBottomLeft .chestOff{
  background: green;
}
.gameSceneHudBottomLeft .chestOn{
  background: blue;
}
.gameSceneHudBottomLeftCenter{
  position: absolute;;
  left: 20%;
  bottom: 20px;
  width: 50px;
  height: 80px;
  z-index: 10;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
  pointer-events: none;
}
.gameSceneHudBottomLeftCenter div{
  display: inline-block;
}
.gameSceneHudBottomCenter {
  position : absolute;
  bottom : 20px;
  left : 50%;
  transform : translate(-50%);
  width: 700px;
  height: 160px;
  z-index: 10;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
}
.gameSceneHPContainer{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 80px;
  height: 160px;
}
.userHPProgressBar{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  background: red;
}
.gameSceneBuffsContainer{
  position: absolute;
  left: 90px;
  bottom: 120px;
  width: 520px;
  height: 40px;
}
.gameSceneBuffsContainer > div {
  float: left;
  position: relative;
  width: 40px;
  height: 40px;
}
.gameSceneBuffsContainer > div > img{
  width: 40px;
  height: 40px;
}
.gameSceneExpContainer{
  position: absolute;
  left:90px;
  bottom: 90px;
  width: 520px;
  height: 20px;
}
.userExpProgressBar {
  position: absolute;
  width: 10%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  background: green;
}
.gameSceneMPContainer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 80px;
  height: 160px;
}
.userMPProgressBar {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
  background: blue;
}
.gameSceneSkillsContainer{
  position: absolute;
  bottom: 0px;
  left: 90px;
  width: 520px;
  height: 80px;
}
/*.gameSceneSkillsContainer div{
  width: 60px;
  height: 60px;
}*/
.gameSceneSkillsContainer img{
  width: 60px;
  height: 60px;
  cursor : pointer;
}
.skillMask{
  position: absolute;
  bottom: 0;
  width : 100%;
  height : 0%;
  background: rgba(64,64,64,0.5);
  z-index: 15;
}
.skillBlockMask{
  position: absolute;
  bottom: 0;
  width : 100%;
  height : 100%;
  background: rgba(64,64,64,0.5);
  z-index: 20;
}
.hudBaseSkill{
  position: absolute;
  width: 60px;
  height: 60px;
  left : 5px;
  bottom: 10px;
}
.hudEquipSkills > div > .skillMask{
  width: 80px;
}
.hudEquipSkills > div > .skillBlockMask{
  width: 80px;
}
.hudSkillImgContainer {
  position : absolute;
}
.hudEquipSkills {
  position: absolute;
  left: 80px;
  bottom: 5px;
  height: 80px;
  width: 360px;
}
.hudEquipSkills > div {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
.hudEquipSkills > div > div > img {
  width: 80px;
  height: 80px;
}
.hudPassiveSkill{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
}
.cooldownMaskAni{
  animation-name: cooldownMaskAnimation;
}
@keyframes cooldownMaskAnimation {
  from {
    opacity : 0.8;
    height : 100%;
  }
  to {
    opacity : 0.8;
    height : 0%;
  }
}

.gameSceneHudBottomRight {
  position : absolute;;
  right: 20px;
  bottom: 20px;
  width: 150px;
  height: 150px;
  z-index: 10;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
}

.gameSceneHudBottomRight .hudBtnSkillChange{
  position : absolute;
  right: 0px;
  bottom: 0px;
  width: 150px;
  height: 150px;
  background: green;
}

.popUpSkillChange {
  position : absolute;
  left : 50%;
  top : 50%;
  width: 800px;
  height: 650px;
  transform: translate(-50%, -50%);
  z-index: 20;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
}
.popUpSkillContainer {
  position: absolute;
  top : 50px;
  left : 50px;
  width: 700px;
  height: 250px;
  overflow-y: scroll;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
}
.popUpSkillContainerItem {
  margin: 20px 25px;
  margin-bottom: 0px;
  width: 85px;
  height: 85px;
  display : inline-block;

  background: blue;
}
.popUpEquipSkillContainer {
  position: absolute;
  width: 700px;
  height: 120px;
  left : 50px;
  bottom : 50px;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
}
.popUpEquipSkillContainer > div {
  float: left;
  margin: 20px 30px;
  margin-right: 0;
  width: 80px;
  height: 80px;

  background: red;
}
.popUpEquipSkillContainer img {
  width: 80px;
  height: 80px;
}
.popUpSkillInfoAndBtn {
  width: 700px;
  height: 150px;
  left : 50px;
  top : 320px;
  position: absolute;

  background: rgba(70, 50, 70, 0.4);
  border-radius: 10px;
}
.popUpSkillInfo {
  width: 550px;
  height: 90px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  position: absolute;

  background: black;
}
.popUpSkillInfoIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 85px;
  height: 85px;

  background: blue;
}
.popUpSkillInfoDesc {
  position :absolute;
  left : 150px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 85px;

  color : white;
  background: blue;
}
.popUpSkillUpgradeBtn {
  right: 15px;
  bottom: 10px;
  width: 120px;
  height: 70px;
  position: absolute;

  background: blue;
}
.popUpBackground {
  position : absolute;;
  left : 0;
  right: 0;
  top: 0;
  bottom : 0;
  opacity: 0.3;
  background: gray;
  z-index: 15;
}
.bottomTooltip {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.bottomTooltip::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
