* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Comic Sans MS', sans-serif;
}
.disable {
  display: none;
}
.enable {
  display: block;
}

html {
  display: block;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.startSceneHud {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.startSceneHud .startSceneHudTitle{
  position : absolute;
  top : 100px;
  left : 0px;
  width : 100%;
  height : 200px;
}
.startSceneHud .startSceneHudTitle h1 {
  text-align: center;
  font-size: 64px;
}
.startSceneHud .startSceneHudCenterLeft{
  position : absolute;
  top : 50%;
  left : 30%;
  width : 600px;
  height : 350px;
  transform: translate(-50%, -50%);

  background: gray;
}
.startSceneHud .startSceneHudCenter{
  position : absolute;
  top : 50%;
  left : 50%;
  width : 600px;
  height : 350px;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 11;

  background: gray;
}
.startSceneHud .startSceneHudCenterRight{
  position : absolute;
  top : 50%;
  left : 70%;
  width : 600px;
  height : 350px;
  transform: translate(-50%, -50%);
  overflow: scroll;
  overflow-x: hidden;
  z-index: 10;
  background: gray;
}
.startSceneHud .startSceneHudBottomLeft{
  position : absolute;
  bottom: 20px;
  left : 20px;
  width : 250px;
  height : 300px;

  background: gray;
}
.startSceneHud .startSceneHudBottomRight{
  position : absolute;
  bottom : 20px;
  right : 20px;
  width : 250px;
  height : 300px;

  background: gray;
}
.gameSceneHudCenter {
  position : absolute;;
  bottom : 20px;
  left : 50%;
  transform : translate(-50%);
  width: 500px;
  height: 100px;
  background : gray;
}
img {
  position : absolute;
  bottom : 100px;
}
